@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Gruppo';
  src: url('/fonts/Gruppo-Regular.ttf') format('truetype');
}

/* Regular Font */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Supports weights from 100 to 900 */
  font-stretch: 75% 125%; /* Optional: defines width variation */
  font-style: normal;
}

/* Italic Font */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

body {
  min-width: 250px;
}

.bg-dots {
  background-image: radial-gradient(circle, rgba(10, 110, 99, 0.24) 1px, transparent 1px);
  background-size: 24px 24px;
}

.link {
  @apply text-cyan-800 no-underline hover:text-cyan-900 hover:underline dark:text-cyan-500 dark:hover:text-cyan-500;
}

/* Commento */
#commento .commento-root {
  --primary-color: #3d768e;
  --primary-color-hover: #2d5a6b;
}

#commento .commento-submit-button {
  border-radius: 20px;
  background-color: #3d768e !important;
}

#commento .commento-login-button,
#commento .commento-logout-button,
#commento .commento-button {
  background-color: #3d768e !important;
  border-radius: 20px;
}

#commento .commento-submit-button:hover,
#commento .commento-login-button:hover,
#commento .commento-logout-button:hover,
#commento .commento-button:hover {
  background-color: #2d5a6b !important;
}

.dark {
  #commento-textarea-root {
    @apply bg-gray-700 text-white;
  }
}
/* /Commento */
