@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Gruppo';
  src: url('/fonts/Gruppo-Regular.ttf') format('truetype');
}

/* Regular Font */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Supports weights from 100 to 900 */
  font-stretch: 75% 125%; /* Optional: defines width variation */
  font-style: normal;
}

/* Italic Font */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

body {
  min-width: 250px;
}


.link {
  @apply cursor-pointer text-cyan-800 no-underline hover:text-cyan-900 hover:underline dark:text-cyan-500 dark:hover:text-cyan-500;
}
